* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	align-items: center;
	background: hsla(239, 100%, 67%, 1);

	background: linear-gradient(
		45deg,
		hsla(239, 100%, 67%, 1) 0%,
		hsla(187, 100%, 89%, 1) 100%
	);

	background: -moz-linear-gradient(
		90deg,
		hsla(239, 100%, 67%, 1) 0%,
		hsla(187, 100%, 89%, 1) 100%
	);

	background: -webkit-linear-gradient(
		90deg,
		hsla(239, 100%, 67%, 1) 0%,
		hsla(187, 100%, 89%, 1) 100%
	);

	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#595CFF", endColorstr="#C6F8FF", GradientType=1 );
}

button {
	padding: 0.35em 0.5em;
	cursor: pointer;
	color: #1b4332;
	font-size: 1.25em;
	font-family: Poppins, sans-serif;
	background-color: #a8dadc;
	border: none;
	border-radius: 0.4em 0.1em;
	box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
	transition: all 0.2s;
	text-transform: uppercase;
}

button:hover {
	transform: translateY(-4px);
	box-shadow: -4px -4px rgba(0, 0, 0, 0.5);
	color: #264653;
	background-color: #dcf8d3;
	border-radius: 0.1em 0.4em;
}

button:focus {
	outline: none;
}
