@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
	box-sizing: border-box;
}

body {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Lato', sans-serif;

	margin: 0;
	overflow: hidden;
}

.container {
	display: flex;
	width: 90vw;
}

.card {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 75vh;
	color: whitesmoke;
	border-radius: 40px;
	flex: 0.5;
	cursor: pointer;
	position: relative;
	margin: 8px;
	transition: flex 0.7s ease-in-out 0.4s;
}

.card h3 {
	font-size: 20px;
	position: absolute;
	bottom: 14px;
	left: 20px;
	margin: 0;
	opacity: 0;
}
.card.active {
	flex: 5;
}

.card.active h3 {
	opacity: 1;
	transition: opacity 0.5s ease-in 0.6s;
}

@media (max-width: 700px) {
	.container {
		width: 90vw;
	}
	.card:nth-of-type(4),
	.card:nth-of-type(5) {
		display: none;
	}
}
